@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: Poppins;
  overflow-x: hidden;
}
.__fit_cover {
  object-fit: cover;
}
.app__btn {
  width: 135px;
  height: 40px;
}
.navbar-collapse div:last-child {
  flex-direction: row;
}
.navbar-light .navbar-toggler {
  border-color: transparent !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-align-right'%3E%3Cline x1='21' y1='10' x2='7' y2='10'%3E%3C/line%3E%3Cline x1='21' y1='6' x2='3' y2='6'%3E%3C/line%3E%3Cline x1='21' y1='14' x2='3' y2='14'%3E%3C/line%3E%3Cline x1='21' y1='18' x2='7' y2='18'%3E%3C/line%3E%3C/svg%3E");
}
.__icon_box {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 90px;
  font-size: 40px;
  padding: 0px;
  border-radius: 100%;
  color: #222222;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.__description h3 {
  margin-bottom: 7px;
  color: #333162;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  font-size: 22px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
.__white{
  color: #fff !important;
  text-align: right !important;
}
.__font_12rem {
  font-size: 1.2rem !important;
}
.__fit_contain{
  object-fit: contain;
}
.bg-purple {
  background-color: #55118e;
}
.started-btn {
  border-radius: 12px;
  background-color: white;
  color: #55118e;
  font-size: 14px;
  padding: 0.7rem 2rem;
}
.started-btn:hover {
  color: #55118e !important;
}
.btn:hover {
  filter: brightness(0.9);
  color: #fff;
}
.btn:focus {
  box-shadow: none !important;
}
.btn-secondary {
  border-color: transparent !important;
  background-color: transparent !important;
}
.dropdown-menu {
  width: 140px;
  margin: auto;
}
.nav-link {
  opacity: 0.5 !important;
  color: #fff !important;
  font-size: 0.85rem;
}
.active {
  color: #fff !important;
  opacity: unset !important;
}
.bg-rectangle {
  background: url(../img/rectangle.png) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  background-position: bottom;
}
.logoes {
  margin-top: 100px;
}
.bg-green {
  background-color: #51a669;
  margin-top: 100px;
}
.started-btn-purple {
  background-color: #55118e;
  color: #fff;
  margin: 0 20px;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
}
.txt-div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.parag {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 20px 0;
}
.title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}
.parag-2 {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
  line-height: 24px;
  padding-right: 10px;
}
.why-txt {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.started-btn-green {
  background-color: #51a669;
  color: #fff;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
}
.bg-gradiant {
  background: url(../img/gradiant.png) no-repeat;
  background-position: bottom;
}
.iphone {
  margin-top: 50px;
  margin-bottom: 40px;
}
.contact {
  margin: 100px 0 100px 0;
}
.submit-btn-purple {
  background-color: #55118e;
  color: #fff;
  border-radius: 8px;
  padding: 0 40px;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}
input {
  border-radius: 8px;
  background-color: #ececec;
  padding: 15px;
  margin: 10px 0;
  outline: none;
  border: none;
}
.footer-item {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}
.footer-item:hover {
  color: #fff;
}
.__m_20 {
  margin: 0 20px;
}
.__ml_20 {
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mobile-img {
    display: none;
  }
  .bg-gradiant {
    background-position: bottom;
  }
  .logoes {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .logoes div {
    margin-top: 50px;
  }
  .bg-rectangle {
    padding-bottom: 100px;
  }
  .container-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-div div {
    margin-top: 20px;
  }
  .title-size-mob {
    font-size: 2.5rem !important;
    width: unset !important;
    text-align: center;
  }
  .parag-size-mob {
    font-size: 14px !important;
  }
  .contact-div {
    align-items: center;
    justify-content: center;
  }
  .contact-txt {
    font-size: 14px !important;
    text-align: center;
  }
  .form-btn {
    align-items: center;
    justify-content: center;
  }
  .why-txt {
    font-size: 25px;
    text-align: center;
  }
  .payment-div {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
  }
  .nav-collaps {
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
  }
  .nav-ul {
    text-align: center;
    margin-left: unset !important;
  }
  .nav-ul li {
    padding: 0 !important;
  }
}
@media (max-width: 425px) {
  .navbar-collapse div:last-child {
    flex-direction: column;
  }
  .navbar-collapse div:last-child > div {
    margin-bottom: 0.5rem;
  }
  .btn {
    width: 100%;
  }
  .__submit_contact {
    flex-direction: column-reverse;
  }
  .__submit_contact div:last-child {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
  .bg-green div > div {
    display: flex;
    width: 100%;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .txt-div {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .txt-div p {
    text-align: center;
    font-size: 14px;
  }
  .txt-div button {
    margin-top: 1.2rem;
    font-size: 14px;
  }
  .why-txt {
    font-size: 20px;
  }
  .ul-footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
    margin-left: 0px !important;
    margin: auto;
  }
  .ul-footer li {
    margin-top: 10px;
  }
  .ul-footer li a {
    font-size: 12px;
  }
  .logo-footer {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  .parag {
    font-size: 18px !important;
  }
  .hosted-txt {
    font-size: 18px !important;
    text-align: center;
  }
  .col-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-btn {
    margin-left: 0% !important;
    align-self: flex-start;
  }
  .social-btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .social-btn div:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  .appstoreImg {
    margin-left: 0px;
    margin-top: 20px;
  }
  .contact {
    margin: 50px 0 50px 0;
  }
  input {
    font-size: 14px;
    padding: 10px;
  }
  .privacy-div p {
    padding-right: 0px !important;
  }
  .parag-2 {
    font-size: 14px;
    padding: 0px 20px 0 20px;
  }
  .started-btn-purple {
    padding: 10px 15px 10px 15px;
  }
  .submit-btn-purple {
    padding: 10px 15px 10px 15px;
  }
  .started-btn-green {
    padding: 10px 15px 10px 15px;
  }
  .padding-txt {
    padding-inline: 20px;
  }
  .footer-item {
    padding-left: 0px !important;
  }
}
